:root {
  --black-blue: #42567A;
  --fuschia-100:#EF5DA8;
  --iris-100:#5D5FEF;
  --blue: #3877EE;

  --z-index-hidden: -1;
  --z-index-initial: 1;
  --z-index-decorative: 2;
  --z-index-modal: 1000;

  --pt-sans: 'PT Sans', sans-serif;
  --bebas-neue: 'Bebas Neue', sans-serif;
}
