@mixin font($size, $weight, $lineHeight) {
  font-size: $size;
  font-weight: $weight;
  line-height: $lineHeight;
}

@mixin visibilityHidden {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  margin: -1px;
  clip: rect(0, 0, 0, 0);
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

@mixin visibilityVisible {
  position: static;
  overflow: visible;
  width: auto;
  height: auto;
  padding: initial;
  border: initial;
  margin: initial;
  clip: auto;
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}
